# Configuration files
data_paths.jl

# Julia
*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/Manifest.toml
/examples/Manifest.toml
/notebooks/Manifest.toml
/profiling
/test/Manifest.toml

# Large files to be downloaded outside of git
/data/large

# Temporary files
tmp.jl
/examples*/output
/plots
/test/testdir

# Documenter
/docs/build/
/docs/site/

# Jupyter
/notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# MacOS
.DS_Store
.AppleDouble
.LSOverride
._*

# VScode
.vscode
